<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfykU7c93Nt53eM55eiQw6JlZNynEwzAE</string>
	<key>GCM_SENDER_ID</key>
	<string>770111590981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cdt.meme.battle</string>
	<key>PROJECT_ID</key>
	<string>meme-battle-1e4a3</string>
	<key>STORAGE_BUCKET</key>
	<string>meme-battle-1e4a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770111590981:ios:0ccac6da853b0ad741092c</string>
</dict>
</plist>